{:site-title           "emaizmi.github.io"
 :author               "emaizmi"
 :description          "emaizmi's blog"
 :site-url             "http://emaizmi.github.io/"
 :post-root            "posts"
 :page-root            "pages"
 :post-root-uri        "posts"
 :page-root-uri        "pages"
 :tag-root-uri         "tags"
 :author-root-uri      "authors"
 :blog-prefix          "/"
 :rss-name             "feed.xml"
 :rss-filters          ["cryogen"]
 :recent-posts         3
 :post-date-format     "yyyy-MM-dd"
 :archive-group-format "yyyy MMMM"
 :sass-src             []
 :sass-path            "sass"
 :compass-path         "compass"
 :theme                "purple"
 :resources            ["img"]
 :keep-files           [".git"]
 :disqus?              false
 :disqus-shortname     ""
 :ignored-files        [#"\.#.*" #".*\.swp$"]
 :posts-per-page       5
 :blocks-per-preview   0
 :previews?            false
 :clean-urls?          true
 :hide-future-posts?   true
 :klipse               {}
 :debug?               false}
